<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="top-panel">
        <h1 class="title">Detailed issue</h1>
        <button type="button" class="btn btn-secondary" (click)="goToProjectDetail()" title="Back to detail project">Back</button>
      </div>
    </div>        
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="detail-block">

        <h2 class="name-proj">Name project</h2>

        <div class="block-desc">
            <h5 class="name-issu">{{ issue.name }}</h5>
            <p class="description">{{ issue.description }}</p>

            <div class="button-block">
              <button type="button" class="btn btn-warning" routerLink="issue-edit" [queryParams]="{id: issue.id, projectId: projectId}">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteIssue()">Delete</button>
            </div>
        </div>

        <div class="date-create">{{ issue.created }}</div>
      </div>
    </div>
  </div>
</div>
