<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="top-panel">
        <h1 class="title">Detailed issue</h1>
        <button type="button" class="btn btn-secondary" routerLink="/projects/project-detail" title="Back to detail project">Back</button>
      </div>
    </div>        
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="detail-block">

        <h2 class="name-proj">Name project</h2>

        <div class="block-desc">
            <span class="id">#1. </span>
            <h5 class="name-issu">Name issue</h5>
            <p class="description">description (long)Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Minus veniam nostrum sapiente sed enim, excepturi molestiae natus, id laborum numquam 
              magni minima cupiditate provident. Ratione saepe beatae provident voluptas ad.
              Quaerat accusantium eius nobis. Atque doloribus blanditiis quibusdam aut odio assumenda facere 
              suscipit quidem magnam rerum fugit quam veniam voluptates repellendus pariatur eligendi, error 
              neque deleniti laudantium dolorum officia iure!
            </p>

            <div class="button-block">
              <button type="button" class="btn btn-warning" routerLink="issue-edit">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>

        <div class="date-create">data create 07.07.2019</div>
      </div>
    </div>
  </div>
</div>
