.top-panel {
    padding: 20px 0 0 0;
}

.title {
    display: inline-block;
    margin-right: 35px;
}

.btn-secondary {
    margin-top: -15px;
}

.name-issu {
    display: inline-block;
}

button {
    width: auto;
}

.block-desc {
    padding-left: 15px;
}

.date-create {
    color: #a5a5a4;
    font-size: 12px;
}

.button-block {
    text-align: right;
}

.btn-warning {
    margin-right: 10px;
}