<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="issues-list">
        <h2 class="title-issues">List Issues</h2>

        <span class="issues" 
          title="Go to Issues on this project">
          !Issues ( <span class="count">10</span> )
        </span>

        <div class="item-issues">
          <span class="id">#1. </span>
          <h5 class="name-issues" routerLink='issue-detail'>Name issue</h5>
          <span class="desc-short-issues">description (short)</span> <br>
          <span class="date-create">create date 07.07.2019</span>
        </div>

        <div class="item-issues">
          <span class="id">#2. </span>
          <h5 class="name-issues" routerLink='/projects/detail/issue'>Name issue</h5>
          <span class="desc-short-issues">description (short)</span> <br>
          <span class="date-create">create date 07.07.2019</span>
        </div>

        <div class="item-issues">
          <span class="id">#3. </span>
          <h5 class="name-issues" routerLink='/projects/detail/issue'>Name issue</h5>
          <span class="desc-short-issues">description (short)</span> <br>
          <span class="date-create">create date 07.07.2019</span>
        </div>

        <div class="item-issues">
          <span class="id">#4. </span>
          <h5 class="name-issues" routerLink='/projects/detail/issue'>Name issue</h5>
          <span class="desc-short-issues">description (short)</span> <br>
          <span class="date-create">create date 07.07.2019</span>
        </div>
      </div>
    </div>
  </div>
</div>
