<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="issues-list">
        <h2 class="title-issues">List Issues</h2>

        <span class="issues" 
          title="Go to Issues on this project">
          !Issues ( <span class="count">{{issues.length}}</span> )
        </span>

        <div class="item-issues" *ngFor="let issue of issues">
          <h5 class="name-issues" 
            routerLink='issue-detail'
            [queryParams]="{id: issue.id, projectId: projectId}">{{ issue.name }}</h5>
          <span class="desc-short-issues">{{ issue.description }}</span> <br>
          <span class="date-create">{{ issue.created | date: 'short' }}</span>
          
          <span class="issu-status">Status: {{issue.inProgress ? 'InProgress' : 'OnHold'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
