<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="top-panel">
              <h1 class="title">Edit Issue</h1>
              <button type="button" class="btn btn-secondary" (click)="goToProjectDetail()" title="Back to project">Back</button>
          </div>
      </div>        
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block-create">
        <form action="">

          <label for="name">
            <span>Name</span>
            <input type="text" id="name" placeholder="Enter name issue" name="name" [(ngModel)]="issue.name">
          </label>

          <label for="desc">
            <span>Description</span>
            <textarea name="description" id="desc" rows="5" [(ngModel)]="issue.description"></textarea>
          </label>

          <select name="status" id="status" [(ngModel)]="issue.inProgress">
            <option value="true">InProgress</option>
            <option value="false">OnHold</option>
          </select>

        </form>

        <div class="btn-block">
          <button type="button" (click)="saveIssue()" class="btn btn-success btn-add">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
